
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: $input-height;
  border-radius: $border-radius;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &.disabled {
    background: $gray-200 !important;
    color: $text-muted !important;
    tab-index: -1;
    pointer-events: none !important;

    &:focus {
      box-shadow: none !important;
    }
  }
}

.button-primary {
  background: $primary;
  color: color-yiq($primary);

}

.button-transparent {
  background: transparent;
  color: $yiq-text-dark;

}

.button-danger {
  background: $danger;
  color: color-yiq($danger);
}

.button-outline {
  background: $white;
  color: color-yiq($white);
  border: 1px solid $gray-700;
}

.button-icon {
  width: 36px;
  height: 36px;
  border-radius: 64px;

  .icon {
    font-size: 22px;
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}

