$font-family-sans-serif: 'iranyekan';
$font-size-base: 0.9rem;

$input-height: 40px;
$spacer: 16px;
$border-radius: 2px;

$border-color: rgba(#000, 0.05);
$dropdown-border-color: rgba(#000, 0.05);
$dropdown-item-padding-y: 8px;

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
